[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
djangorestframework = "~=3.14.0"
djangorestframework-simplejwt = {version = "~=5.2.2", extras = ["crypto"]}
pygments = "*"
markdown = "*"
drf-yasg = "*"

[dev-packages]
pre-commit = "2.20.0"
flake8 = "~=6.0.0"
factory-boy = "~=3.2.1"
faker = "~=15.3.4"

[requires]
python_version = "3.10"
